<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        each css in files.CSS
            link(rel="stylesheet", href=`../${css}`)
    body
        header.container-full.header.center
            nav.container.nav
                ul.item
                    li #[a(href="/") Texto]